# exercicio-2/.env.example
# Credenciais do usuário administrador (criado automaticamente na 1ª inicialização)
# Copie pra ".env" e troque os valores
LD_SUPERUSER_NAME=admin
LD_SUPERUSER_PASSWORD=troque_essa_senha
LD_SUPERUSER_EMAIL=admin@email.com

LD_DISABLE_BACKGROUND_TASKS=False